<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<table class="box-table-a">
    <caption>thyMeleaf使用教程</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">这是标题1</th>
        <th scope="col">这是标题2</th>
        <th scope="col">这是标题3</th>

    </tr>
    </thead>


    <tbody>
    <tr th:each="user : ${users}">

        <td th:text="${user.id}">01</td>

        <td th:text="${user.name}">朱遇平</td>


    </tr>

    </tbody>
</table>

</html>